<section class="w3l-top-header">
	<div class="container-fluid">
		<div class="row d-flex align-items-center">
			<div class="top-headers col-8 col-md-3 p-0 float-end">
			</div>
			<div class="top-headers col-4 col-md-9 p-0 top-headers-2">
				<div class="float-end">
					<ul>
						<li class="d-none d-md-block"><a href="#">Skip To Content </a></li>
						<li style="width: 40px;">
							<div class="dropdown"> <span>EN</span>
								<div class="dropdown-content p-1">
									<p class="border-bottom m-0"><a class="text-black">Hindi</a>
									</p>
									<p class="m-0"><a class="text-black">English</a></p>
								</div>
							</div>
						</li>
						<li style="width: 40px;">
							<div class="dropdown">
								<span><i class="fa-solid fa-wheelchair" aria-hidden="true"></i></span>
								<div class="dropdown-content">
									<div class="access-type">
										<p class="border-bottom m-0"><a href="javascript:;" class="changer text-black"
												title="Decrease Text" id="text_resize_decrease"><sup>-</sup>A</a></p>
										<p class="border-bottom m-0"><a href="javascript:;" class="changer text-black"
												id="text_resize_reset" title="Reset Text">A</a></p>
										<p class="border-bottom m-0"><a href="javascript:;" class="changer text-black"
												id="text_resize_increase" title="Increase Text"><sup>+</sup>A</a></p>
										<div id="text_resize_clear"></div>
									</div>
								</div>
							</div>
						</li>
						<li class="d-none d-lg-block">
							<a href="#twitter"><i class="fa-brands fa-twitter"></i></a>
						</li>
						<li class="d-none d-lg-block">
							<a href="#facebook"><i class="fa-brands fa-facebook-f"></i></a>
						</li>
						<li class="d-none d-lg-block">
							<a href="#youtube"><i class="fa-brands fa-youtube"></i></a>
						</li>
						<li class="d-none d-lg-block">
							<a href="#instagram"><i class="fa-brands fa-instagram"></i></a>
						</li>
						<li class="d-none d-lg-block">
							<a href="#">Help Desk &nbsp; <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;
								01412924501</a>
						</li>
						<!-- @author animesh - @change Description - title changed to logout from login  -->
						<li class="d-none d-md-block"><a class="btn btn-outline-secondary" role="button"
								title="Logout">Logout</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="hero header" id="myHeader">
	<div class="container-fluid">


		<!-- ======= Header ======= -->
		<div>

			<div class="row" id="navigation">
				<div class="d-flex align-items-center">

					<div class="col-9 col-md-9">
						<img src="assets/images/PayManager.png" style="width: 250px;" alt="" class="img-fluid">

					</div>

					<div class="col-3 col-md-3 p-2">

						<img src="assets/images/99999.png" style="width: 300px;" alt="" class="img-fluid">
					</div>
				</div>
				<!-- <button type="button" mat-button (click)="drawer.toggle()">
					<mat-icon>menu</mat-icon>
				  </button> -->
			</div>

			<div style="clear:both;"></div>
		</div>
	</div>
</div>



<!-- <div class="bottomHeader" style="background-color: aqua;">
	<div class="container-fluid">
				<div class="row">
				<div class="col-md-12">
					<div id="mySidenav" class="sidenav d-block d-md-none"> <a class="closebtn"
								onclick="closeNav()">&times;</a>
							<div class="account-info d-flex px-3">
								<div><img src="assets/images/avatar.svg"></div>
								<div class="account-details ps-3">
									<h3 class="m-0">Ashish Ray</h3>
									<small>Admin Deptartment</small><br>
									<small>Indra Gandhi Nahar Department</small>
									<a class="btn btn-outline-white mt-2" role="button" title="Logout">Logout</a>
								</div>
							</div>
							<div class="p-3 sidenav-link">

								<li><a class="nav-link scrollto active" href="home.html">Home</a></li>
								<li><a class="nav-link scrollto" href="manual.html">Manual</a></li>
								<li><a class="nav-link scrollto" href="faq.html"> FAQ</a></li>
								<li><a class="nav-link scrollto" href="helpdesk.html"> Helpdesk </a></li>

							</div>
							<small class="date_time w-100 ps-4 pb-2 primary-bg">9/21/2022 | 12:13:29 PM</small>
						</div>
						<nav id="navbar" class="navbar float-end">
							<ul>
								<li><a class="nav-link scrollto active" href="home.html">Home</a></li>
								<li><a class="nav-link scrollto" href="manual.html">Manual</a></li>
								<li><a class="nav-link scrollto" href="faq.html"> FAQ</a></li>
								<li><a class="nav-link scrollto" href="helpdesk.html"> Helpdesk </a></li>
							</ul>
						</nav> 
						<span class="button-croce float-end" style="font-size:30px;cursor:pointer"
							onclick="openNav()"><mat-icon>more_vert</mat-icon></span>
				</div>
			</div>
	</div>
</div> -->

<!-- sidebar  menu -->

<script>
	function openNav() {
		document.getElementById("mySidenav").style.width = "285px";
	}

	function closeNav() {
		document.getElementById("mySidenav").style.width = "0";
	}
</script>
<script>
	function openMenu() {

	}

	function closeMenu() {
		document.getElementById("Sidenav").style.width = "0";
	}
</script>

<!-- end sidbar menu -->