<!-- ======= Footer ======= -->
<div class="mt-5">
    <footer id="footer" class="noPrint">
        <div class="footer_inner pt-2">
            <div class="container-fluid">             
                <div class="footer-links">
                    <ul>
                        <li><a href="#">SiteMap </a></li>
                        <li><a href="#">Privacy Policy </a></li>
                        <li><a href="#">Disclaimer </a></li>
                        <li><a href="#">Contact Us </a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Announcements</a></li>
                        <li><a href="#">Feedback</a></li>
                    </ul>
                </div>
                <div class="footer_social_media_links text text-center mt-3">
                    <ul class="p-0">
                        <li class="d-lg-none p-3">
                            <a href="#twitter"><i class="fa-brands fa-twitter"></i></a>
                        </li>
                        <li class="d-lg-none p-3">
                            <a href="#facebook"><i class="fa-brands fa-facebook-f"></i></a>
                        </li>
                        <li class="d-lg-none p-3">
                            <a href="#youtube"><i class="fa-brands fa-youtube"></i></a>
                        </li>
                        <li class="d-lg-none p-3">
                            <a href="#instagram"><i class="fa-brands fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            <div class="copyright">
                <span style="font-size: 14px;"> © 2022 NIC. All Rights Reserved </span>&nbsp;
                <span class="credits"><a href="#"  class="text-decoration-none">Last Modified 17/04/2023 11:45 +00:00</a></span>
            </div>
            <!-- <div class="credits">
                
                <a href="#" class="text-decoration-none">Last Modified 17/04/2023 11:45 +00:00</a>
            </div> -->
        </div>    
    </div>
    
    </footer>
    </div>
    
    
